/*** Elements ***/
html {
  font-size: 7px; }

body {
  background: #222;
  color: white;
  font-size: 9px; }

p {
  font-size: 1.4em;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", sans-serif; }
  p a {
    color: #59a2e0; }
    p a:hover {
      color: #3b84c5; }

h1, h2, h3 {
  margin: 0; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.7em; }

h4 {
  font-size: 1.5em; }

/*** Sections ***/
.splash-header-r {
  background-image: url("../images/city-xxs.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  height: 380px; }

.section-inverse {
  background-color: #eee;
  color: black; }

.menu-appear-animation {
  opacity: 0; }

.cloud-logo-r {
  position: absolute;
  height: 107px;
  width: 170px;
  top: 70px;
  right: 100px; }

.cloud-nav-r {
  position: absolute;
  height: 38px;
  width: 59px; }

.cloud1-r {
  top: 35px;
  right: 250px; }

.cloud2-r {
  top: 10px;
  right: 150px; }

.cloud3-r {
  top: 45px;
  right: 60px; }

.cloud-link {
  opacity: 0.85;
  cursor: pointer; }

.navbar-inverse .navbar-nav > li > a.cloud-link {
  color: white;
  font-family: "Suez One", "Helvetica Neue", sans-serif; }

.cloud-link:hover {
  opacity: 1; }

.section-header {
  font-family: Voltaire, "Helvetica Neue", "Segoe UI", sans-serif;
  text-transform: uppercase; }

.subsection-header {
  background: #568ABA;
  margin: 2rem 0;
  padding: 1rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center; }

.subsection {
  margin: 2rem; }

.contact-icons {
  padding: 1rem; }
  .contact-icons a {
    margin: 1rem; }
  .contact-icons img {
    height: 48px;
    width: 48px; }

.img-scale-r {
  height: 120px;
  width: 120px; }

ul.features {
  list-style-position: inside;
  padding-left: 0; }

.contact-caption {
  min-height: 2rem;
  opacity: 0;
  transition: opacity 0.5s; }

.contact-caption.opaque {
  opacity: 1;
  transition: opacity 0.5s; }

/*** Screenshots ***/
.ss-wedding {
  background-image: url("../images/wedding-ss.jpg"); }

.ss-interware {
  background-image: url("../images/interware-ss.jpg"); }

/*** Utility ***/
.flex-middle {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center; }

.hover-swap .show-on-hover {
  display: none; }
.hover-swap:hover {
  text-decoration: none; }
  .hover-swap:hover .show-on-hover {
    display: inline-block; }
  .hover-swap:hover .show-baseline {
    display: none; }

.crossfade {
  text-align: center; }
  .crossfade img {
    width: 215px;
    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out; }
  .crossfade .base-img {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    .crossfade .base-img:hover {
      opacity: 0; }

.mt-3 {
  margin-top: 2rem; }

.mt-6 {
  margin-top: 6rem; }

.mb-3 {
  margin-bottom: 2rem; }

.mb-5 {
  margin-bottom: 4rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-8 {
  margin-bottom: 10rem; }

.pv-6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(10%); }
  100% {
    transform: translateY(0%); } }
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(10%); }
  100% {
    -webkit-transform: translateY(0%); } }
@media screen and (min-width: 480px) {
  html {
    font-size: 10px; }

  body {
    font-size: 12px; }

  p {
    font-size: 1.1em; }

  .splash-header-r {
    background-image: url("../images/city-xs.jpg");
    height: 500px; }

  .cloud-logo-r {
    top: 100px;
    right: 170px; }

  .cloud1-r {
    top: 60px;
    right: 320px; }

  .cloud2-r {
    top: 20px;
    right: 230px; }

  .cloud3-r {
    top: 80px;
    right: 120px; }

  .crossfade img {
    width: 320px; }

  .subsection-header {
    min-height: 76px; } }
@media screen and (min-width: 768px) {
  html {
    font-size: 11px; }

  body {
    font-size: 14px; }

  p {
    font-size: 1em; }

  .splash-header-r {
    background-image: url("../images/city-md.jpg");
    height: 650px; }

  .cloud-logo-r {
    top: 170px;
    right: 330px;
    transform: scale(1.5); }

  .cloud-nav-r {
    height: 56px;
    width: 88px; }

  .cloud1-r {
    top: 70px;
    right: 520px; }

  .cloud2-r {
    top: 30px;
    right: 330px; }

  .cloud3-r {
    top: 120px;
    right: 190px; }

  .subsection-sm {
    margin: 2rem 0; }

  .crossfade img {
    width: 330px; }

  .subsection-header {
    min-height: 76px; }

  .img-scale-r {
    height: 170px;
    width: 170px; }

  .contact-icons img {
    height: 64px;
    width: 64px; }

  .mb-none-sm {
    margin-bottom: 0; } }
@media screen and (min-width: 992px) {
  .splash-header-r {
    background-image: url("../images/city-md.jpg");
    height: 650px; }

  .cloud-logo-r {
    top: 170px;
    right: 330px;
    transform: scale(1.5); }

  .cloud-nav-r {
    height: 56px;
    width: 88px; }

  .cloud1-r {
    top: 70px;
    right: 520px; }

  .cloud2-r {
    top: 30px;
    right: 330px; }

  .cloud3-r {
    top: 120px;
    right: 190px; }

  .subsection-header {
    min-height: 0; }

  .crossfade img {
    width: 430px; } }
@media screen and (min-width: 1200px) {
  html {
    font-size: 12px; }

  body {
    font-size: 16px; }

  .splash-header-r {
    background-image: url("../images/city-lg.jpg");
    height: 900px; }

  .subsection-body-r {
    height: 300px; }

  .cloud-logo-r {
    top: 300px;
    right: 530px;
    transform: scale(2); }

  .cloud-nav-r {
    height: 75px;
    width: 117px; }

  .cloud1-r {
    top: 150px;
    right: 830px; }

  .cloud2-r {
    top: 70px;
    right: 630px; }

  .cloud3-r {
    top: 200px;
    right: 330px; }

  .crossfade img {
    width: 510px; }

  .subsection-lg {
    margin: 3rem 0.5rem; } }

/*# sourceMappingURL=main.css.map */
