@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

@media screen and (min-width: $screen-sm-min) {

  html {
    font-size: 11px;
  }

  body {
    font-size: 14px;
  }

  p {
    font-size: 1em;
  }

  .splash-header-r {
    background-image: url("../images/city-md.jpg");
    height: 650px;
  }

  .cloud-logo-r {
    top: 170px;
    right: 330px;
    transform: scale(1.5);
  }

  .cloud-nav-r {
    height: 56px;
    width: 88px;
  }

  .cloud1-r {
    top: 70px;
    right: 520px;
  }

  .cloud2-r {
    top: 30px;
    right: 330px;
  }

  .cloud3-r {
    top: 120px;
    right: 190px;
  }

  .subsection-sm {
    margin: 2rem 0;
  }

  .crossfade img {
    width: 300px;
  }

  .subsection-header {
    min-height: 76px;
  }

  .img-scale-r {
    height: 170px;
    width: 170px;
  }

  .contact-icons img {
    height: 64px;
    width: 64px;
  }

  .mb-none-sm {
    margin-bottom: 0;
  }
}